<div class="container">
  <h1> What to Wear on Your Run! </h1>
  <form action="/results" method="post">
  <label class="loc_label" for="user_loc">Please Enter Location: </label>
  <input class="loc_input" type="text" id="user_loc" name="user_location"  placeholder="i.e. Houston, TX">

  <button class="loc_submit"> Submit </button>
  </form>
</div>
